#search_box .form-submit {
  padding-left: 5px;
}

#sidebar .content ul.menu li {
  list-style: none;
  list-style-image: none;
  line-height: normal;
}

#page #content .clear-block div.links{
  padding-top: 10px;
}

#page #content .clear-block ul.links li{
  float:left;
}