
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF url(images/img01.jpg) repeat-x left top;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #66665E;
}

h1, h2, h3 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: #4B8749;
}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
  margin-top: 0;
  line-height: 240%;
  text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #41ACE7; }

a:hover { text-decoration: none; }

a img {
  border: none;
}

img.left {
  float: left;
  margin: 7px 30px 0 0;
}

img.right {
  float: right;
  margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
  float: left;
  line-height: normal;
}

.list1 li img {
  margin: 0 30px 30px 0;
}

.list1 li.alt img {
  margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
}

#header {
  width: 1000px;
  height: 64px;
  margin: 0 auto;
  background: url(images/img02.jpg) no-repeat left top;
}

/* Menu */

#menu {
  float: left;
  /*width: 540px;*/
  height: 64px;
}

#menu ul {
  margin: 0;
  padding: 0px 0px 0px 5px;
  list-style: none;
  line-height: normal;
}

#menu li {
  background: url(images/img07.jpg) no-repeat left 32px;
  display: block;
  float: left;
    padding: 0px;
}

#menu li.active a {
    color: black;
}

#menu a {
  display: block;
  float: left;
  height: 20px;
  margin-right: 3px;
  padding: 28px 25px 15px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF;
}

#menu a:hover { text-decoration: underline; }

#menu .current_page_item a {
  height: 20px;
  color: #FFFFFF;
}

#menu .first {
  background: none;
}

/* Search */
#search_box {
  float: right;
  width: 305px;
  height: 50px;
}

#search_box form {
  float: right;
  margin: 0;
  padding: 25px 20px 0 0;
}

#search_box input {
  float: left;
  font: 0px Georgia, "Times New Roman", Times, serif;
  border: none;
}

#search_box .form-text {
  width: 135px;
  height: 18px;
  padding: 3px 0 0 5px;
  background: #ECF9E4;
  color: #000000;
}

#search_box .form-submit {
  height: 21px;
  margin-left: 10px;
  padding: 0px 15px;
  background: url(images/search-go.PNG) no-repeat;
  cursor: pointer;
}

#search_box label {
    display: none;
}

/* Page */

#page {
  width: 1000px;
  margin: 0 auto;
  background: url(images/img04.jpg) repeat-y left top;
}

#page-bgtop {
  padding-top: 30px;
  background: url(images/img03.jpg) no-repeat left top;
}

  /** LOGO */

#header-logo {
  width: 960px;
  height: 170px;
  margin: 0 auto;
}

#header-logo h1, #header-logo p {
  margin: 0px;
  line-height: normal;
  font-weight: normal;
  color: #FFFFFF;
}

#header-logo p {
  text-transform: uppercase;
  font-size: 10px;
}

#header-logo h1 {
  padding-top: 30px;
  font-size: 34px;
}

#header-logo a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Content */

#content {
  float: right;
  width: 738px;
  padding-top: 20px;
  padding-right: 40px;
}

/* Node */

.node {
  margin-bottom: 25px;
}

.node h2, h2.with-tabs {
  height: 30px;
  color: #42423E;
}

.node h2 a {
  text-decoration: none;
  color: #42423E;
}

.node .date {
}

.node .meta {
  margin-top: -10px;
  padding: 2px 30px 2px 16px;
  background: url(images/img08.jpg) no-repeat left 10px;
  border-bottom: 1px #BDBDBB dotted;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #66665E;
}

.node .meta span {
  display: block;
  margin-top: -10px;
}

.node .meta a { }

.node .clear-block .meta {
    background: none;
    border: none;
    margin-top: -30px;
}

.node .content {
  padding: 10px 0;
}

.node .links {
  margin: 0 250px 0 0;
  padding: 0 0 0 0px;
}

.node .links .comments {
}

.node .links .permalink {
  padding-left: 17px;
}

/* Sidebar */

#sidebar {
  float: left;
  width: 162px;
  padding-left: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

#sidebar .block {
    padding: 0 0 10px 0px;
    margin-bottom: 30px;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
}

#sidebar li {
  margin: 0 0 2px 5px;
  padding-left: 10px;
  padding-bottom: 8px;
  background: url(images/img09.jpg) no-repeat left 4px;
}
/*
#sidebar ul.menu li {
    background: none;
    padding: 0px;
    margin-left: 5px;
    list-style-position: inside;
}*/

#sidebar p {
  margin: 0;
  padding: 0px 10px;
}

#sidebar h2 {
  height: 26px;
  margin: 0 0 10px 0px;
  padding: 8px 0 2px 10px;
  background: url(images/img06.jpg) no-repeat left top;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: bold;
  color: #42423E;
}


#sidebar p {
  line-height: 200%;
}
#sidebar a {
  color: #696969;
}

/* sidebar content */

#sidebar .content .item-list li {
  list-style-type: none;
}

/* Calendar */

#calendar {
}

#calendar caption {
  padding-bottom: 5px;
  font-weight: bold;
}

#calendar table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #24130F;
  border-left: 1px solid #24130F;
  border-right: 1px solid #24130F;
}

#calendar thead th {
  padding: 5px 0;
  text-align: center;
  border-top: 1px solid #24130F;
  border-left: 1px solid #24130F;
  background: #24130F;
}

#calendar tbody td {
  padding: 5px 0;
  text-align: center;
  border-top: 1px solid #24130F;
  border-left: 1px solid #24130F;
  border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
  padding: 5px;
  border-left: 1px solid #24130F;
  border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
  border-top: 1px solid #24130F;
  text-align: right;
}

#calendar tfoot #prev {
  border-top: 1px solid #24130F;
}

#calendar .pad {
  border-bottom: 1px solid #24130F;
}

#calendar #today {
  background: #24130F;
}

/* Footer */

#footer {
  width: 1000px;
  height: 95px;
  margin: 0 auto;
  padding: 0;
  background: url(images/img05.jpg) no-repeat left top;
}

#footer p {
  margin: 0;
  padding: 56px 0;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  font-size: 10px;
  color: #66665E;
}

#footer a {
  color: #000000;
}

ul.primary {
  margin-bottom: 15px;
}

/* admin menu */
#sidebar .content ul.menu li {
  list-style: none;
  line-height: normal;
}

#sidebar .content ul.menu li ul.menu {
  padding-top: 10px;
}

#page #content  fieldset.collapsed legend{
  display:inline;
  width:auto;
}

#page #content  fieldset.collapsed{
  margin-bottom: 1em;
}

